{% extends 'index.html' %}
{% load static %}

{% block titulo %}
{% endblock titulo %}

{% block contenido %}
<article>
    <section role="region" aria-label="Opciones de gestión">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de reserva">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a class="tarjeta-gestion" href="{% url 'app_reservaservicio:reserva_create' %}">Agendar nueva reserva</a>
                    </h3>                    
                    <p class="card-text">Realice nuevas reservas a clientes cotidianos.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de cancelar reserva">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a class="tarjeta-gestion" href="{% url 'app_reservaservicio:reserva_lista' %}">Cancelar reserva</a>
                    </h3>
                    <p class="card-text">La cancelacion de una reserva no elimina de manera permanente una reserva.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de añadir cliente">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a class="tarjeta-gestion" href="{% url 'app_cliente:cliente_create' %}">Añadir nuevo cliente</a>
                    </h3>
                    <p class="card-text">Registre a los nuevos clientes antes de realizar una reserva.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de añadir servicio">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a href="{% url 'app_servicio:servicio_create' %}" class="tarjeta-gestion" >Añadir nuevo servicio</a>
                    </h3>
                    <p class="card-text">Agregue directamente un nuevo tipo de servicio disponible.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="sobre-nosotros" role="region" aria-label="Informacion extra sobre Coreeventos">
      <div class="container">
          <div class="info">
              <h2>COREEVENTOS</h2>
              <p>Plataforma web dedicada a la gestión eficiente de eventos, brindando 
                herramientas para organizar y coordinar cada detalle de los servicios ofrecidos
                por la empresa. Nos enfocamos en la acesibilidad para personas con capacidad 
                visual reducida, garantizando una experiencia fluida para todos los involucrados.</p>
          </div>
          <div class="imagen">
              <img src=# alt="Imagen representativa de COREEVENTOS">
          </div>
      </div>
    </section>
  
</article>

{% endblock contenido %}
