{% extends 'homepage/index.html' %}
{% load static %}

{% block titulo %}
{% endblock titulo %}

{% block contenido %}
<article>
    {% comment %} <section role="region" aria-label="Opciones de gestión">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de reserva">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a class="tarjeta-gestion" href="{% url 'app_reservaservicio:reserva_create' %}">Agendar nueva reserva</a>
                    </h3>                    
                    <p class="card-text">Realice nuevas reservas a clientes cotidianos.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de cancelar reserva">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a class="tarjeta-gestion" href="{% url 'app_reservaservicio:reserva_lista' %}">Cancelar reserva</a>
                    </h3>
                    <p class="card-text">La cancelacion de una reserva no elimina de manera permanente una reserva.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de añadir cliente">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a class="tarjeta-gestion" href="{% url 'app_cliente:cliente_create' %}">Añadir nuevo cliente</a>
                    </h3>
                    <p class="card-text">Registre a los nuevos clientes antes de realizar una reserva.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="..." class="card-img-top" alt="Icono de añadir servicio">
                <div class="card-body">
                    <h3 class="card-title" role="heading" aria-level="3">
                    <a href="{% url 'app_servicio:servicio_create' %}" class="tarjeta-gestion" >Añadir nuevo servicio</a>
                    </h3>
                    <p class="card-text">Agregue directamente un nuevo tipo de servicio disponible.</p>
                </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    
    <section class="welcome-card" role="region" aria-label="Sobre CoreEventos">
    <div class="card-container">
        <div class="card-content">
        <div class="card-header">
            <h1 class="card-title">Gestor de reservas para eventos</h1>
        </div>
        
        <div class="card-body">
            <div class="card-text">
            <div class="card-feature">
                <span class="feature-icon"><i class="bi bi-calendar-event"></i></span>
                <p>Plataforma web dedicada a la gestión eficiente de eventos, brindando herramientas para organizar y coordinar cada detalle.</p>
            </div>

            <div class="card-feature">
                <span class="feature-icon"><i class="bi bi-eye"></i></span>
                <p>Nos enfocamos en la accesibilidad para personas con capacidad visual reducida, garantizando una experiencia fluida.</p>
            </div>

            </div>
            
            <div class="card-image">
            <img src="{% static 'homepage/Drango.webp' %}" 
                alt=""
                class="feature-img"
                aria-hidden="true">
            </div>
        </div>
        </div>
    </div>
    </section>
</article>

{% endblock contenido %}
