{% load static %}
<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block titulo %}{% endblock titulo %} </title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'homepage/android-chrome-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'homepage/android-chrome-512x512.png' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <header role="banner">
    <a href="{% url 'homepage' %}" class="logo-link">
        <div class="logo" unselectable="on">
            <span class="core">CORE</span><span class="eventos">EVENTOS</span>
        </div>
    </a>
    <div class="header-core">
        <a href="{% url 'admin:index' %}  " class="boton-admin" role="button" aria-label="Ingresar al panel de administrador">🔐 Panel de administración</a>
    </div>
  </header>

  <div class="navbar-container">
    <nav class="navbar navbar-expand-lg" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" aria-expanded="false" aria-haspopup="true" aria-label="Desplegable de Servicios" tabindex="0">
                <i class="bi bi-tools me-2"></i> Servicios
              </a>
              <ul class="dropdown-menu" role="menu"> 
                <li><a class="dropdown-item" href="{% url 'app_servicio:servicio_lista' %}" role="menuitem"><i class="bi bi-list-check me-2"></i>Listado de servicios</a></li>
                <li><a class="dropdown-item" href="{% url 'app_servicio:servicio_create' %}" role="menuitem"><i class="bi bi-plus-circle me-2"></i>Añadir nuevo servicio</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" aria-expanded="false" aria-haspopup="true" aria-label="Desplegable de Clientes" tabindex="0">
                <i class="bi bi-people me-2"></i> Clientes
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="{% url 'app_cliente:cliente_lista' %}" role="menuitem"><i class="bi bi-list-check me-2"></i>Listado de clientes</a></li>
                <li><a class="dropdown-item" href="{% url 'app_cliente:cliente_create' %}" role="menuitem"><i class="bi bi-plus-circle me-2"></i>Añadir nuevo cliente</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" aria-expanded="false" aria-haspopup="true" aria-label="Desplegable de Empleados" tabindex="0">
                <i class="bi bi-person-badge me-2"></i> Empleados
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="{% url 'app_empleado:empleado_lista' %}" role="menuitem"><i class="bi bi-list-check me-2"></i>Listado de empleados</a></li>
                <li><a class="dropdown-item" href="{% url 'app_empleado:empleado_create' %}" role="menuitem"><i class="bi bi-plus-circle me-2"></i>Añadir nuevo empleado</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" aria-expanded="false" aria-haspopup="true" aria-label="Desplegable de Coordinadores" tabindex="0">
                <i class="bi bi-diagram-3 me-2"></i> Coordinadores
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="{% url 'app_coordinador:coordinador_lista' %}" role="menuitem"><i class="bi bi-list-check me-2"></i>Listado de coordinadores</a></li>
                <li><a class="dropdown-item" href="{% url 'app_coordinador:coordinador_create' %}" role="menuitem"><i class="bi bi-plus-circle me-2"></i>Añadir nuevo coordinador</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" aria-expanded="false" aria-haspopup="true" aria-label="Desplegable de Reservas" tabindex="0">
                <i class="bi bi-calendar-check me-2"></i> Reservas
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="dropdown-item" href="{% url 'app_reservaservicio:reserva_lista' %}" role="menuitem"><i class="bi bi-list-check me-2"></i>Listado de reservas</a></li>
                <li><a class="dropdown-item" href="{% url 'app_reservaservicio:reserva_create' %}" role="menuitem"><i class="bi bi-plus-circle me-2"></i>Añadir nueva reserva</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">  <!-- ms-auto pushes it to the right -->
              <li class="nav-item api-link">
                  <a class="nav-link" href="/api/" aria-label="Endpoints">📡 API</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container my-5">
      {% block contenido %}
      {% endblock contenido %}
  </div>
  
  <footer role="contentinfo">
      <div class="footer-left">
          <a href="https://www.alkemy.org/" target="_blank" rel="noopener noreferrer" aria-label="Link a Alkemy">Alkemy</a>
          <span class="footer-separator"> | </span>
          <a href="https://cfi.org.ar/" target="_blank" rel="noopener noreferrer" aria-label="Link a CFI">CFI</a>
          <span class="footer-separator"> | </span>
          <a href="https://www.aif.gob.ar/" target="_blank" rel="noopener noreferrer" aria-label="Link a Agencia de Innovación TDF">Agencia de Innovación TDF</a>
      </div>
      <div class="footer-right">
          Hecho por: 
          <a href="https://github.com/alvoynes" ...>Ariel Lautaro Voynes</a> 
          y 
          <a href="https://github.com/caucot" ...>Melani Caucota</a>
          · en: 
          <span class="tech-badge">🐍 Python/Django</span>
      </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
