{% load static %}
<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CORE-EVENTOS</title>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'homepage/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/favicon-16x16.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'homepage/android-chrome-192x192.png' %}" />
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'homepage/android-chrome-512x512.png' %}" />

  <style>
    body {
      margin: 0;
      background-color: #004c59;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: sans-serif;
    }

    h1 {
      font-size: 3rem;
    }

    .core {
      color: #ff914d;
    }

    .eventos {
      color: white;
    }
  </style>
</head>
<body>
  <h1>
    <span class="core">CORE</span><span class="eventos">EVENTOS</span>
  </h1>
</body>
</html>
